.task_list {
	height: max-content;
	max-width: fit-content;
	padding: 0 1rem;
}

.task_list ul {
	display: flex;
	flex-direction: column;
	gap: 0.8rem;
}

ul li {
	list-style-type: square;
}

.task {
	cursor: pointer;
	animation: slideLeft 0.5s ease forwards;
}

.task.done {
	text-decoration-line: line-through;
}

@keyframes slideLeft {
	from {
		transform: translateX(-10%);
	}
	to {
		transform: translateX(0);
	}
}
